<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
</head>
<body>
    <div class="signin-container">
        <form method="POST" class="signin-form">
            <h2>Sign In</h2>
            
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="email" name="email" placeholder="Create your email" required>
            <input type="password" name="password" placeholder="Create password" required>
            <input type="password" name="password" placeholder="Confirm password" required>
            
            <label for="city">city:</label>
                <select type="city" type="city" id="city">
					<option value=" "></option>
					<option value="greater-noida">Greater Noida</option>
					<option value="noida">noida</option>
					<option value="ghaziabad">Ghaziabad</option>
					<option value="faridabad">Faridabad</option>
					<option value="meerut">Meerut</option>
					<option value="agra">Agra</option>
					<option value="gurugram">Gurugram</option>
					<option value="mumbai">Mumbai</option>
					<option value="bangalore">Bangalore</option>
					<option value="hyderabad">Hyderabad</option>
					<option value="chennai">Chennai</option>
					<option value="kolkata">Kolkata</option>
					<option value="pune">Pune</option>
					<option value="ahmedabad">Ahmedabad</option>
					<option value="surat">Surat</option>
					<option value="jaipur">Jaipur</option>
					<option value="lucknow">Lucknow</option>
					<option value="kanpur">Kanpur</option>
					<option value="nagpur">Nagpur</option>
					<option value="indore">Indore</option>
					<option value="bhopal">Bhopal</option>
					<option value="visakhapatnam">Visakhapatnam</option>
					<option value="patna">Patna</option>
					<option value="ludhiana">Ludhiana</option>
					<option value="agra">Agra</option>
					<option value="varanasi">Varanasi</option>
					<option value="allahabad">Allahabad</option>
					<option value="jodhpur">Jodhpur</option>
					<option value="kota">Kota</option>
					<option value="gwalior">Gwalior</option>
					<option value="jabalpur">Jabalpur</option>
					<option value="amritsar">Amritsar</option>
					<option value="chandigarh">Chandigarh</option>
					<option value="jamshedpur">Jamshedpur</option>
					<option value="bhubaneswar">Bhubaneswar</option>
					<option value="coimbatore">Coimbatore</option>
					<option value="madurai">Madurai</option>
					<option value="trichy">Trichy</option>
					<option value="salem">Salem</option>
					<option value="tirunelveli">Tirunelveli</option>
					<option value="erode">Erode</option>
					<option value="vellore">Vellore</option>
					<option value="thiruvananthapuram">Thiruvananthapuram</option>
					<option value="kochi">Kochi</option>
					<option value="kozhikode">Kozhikode</option>
					<option value="thrissur">Thrissur</option>
                </select>
                
				<br><br>
				<a href="{{url_for('next')}}" ><button type="button"style="padding: 8px 16px; background-color:green; white; border:none;">
					Next </button>
				</a>
			</form>
    </div>
</body>
</html>